* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  /* font-size: 18px;
  line-height: 25px;
  color: #828282;
  text-shadow: 5px; */
}

.comment {
  font-size: 14px;
  color: slategray;
}

section {
  margin-bottom: 60px;
}

/* .link:hover {
  text-decoration: underline;
} */
